body{background-color: black}

h2{color:white; font-family: monospace; font:courier}

h3 {
    color: white; font-family: monospace; font:courier;
    word-wrap: break-word;
    font-size: larger;
}

#logo {
    /* transform: translate(10%, -10%); */
    padding: 30px
}

#large-photo {
    width: 700px;
    height:auto;
    flex-direction: row;
    text-align:right;
    /* padding: 50px; */
    border-radius: 15%;
    align-items: right;
    justify-content: right;
    /* object-position: right top; */
    transform: translate(100%, -50%)
}

h1 {
    color: white; font-family: monospace; font:courier;
    transform: translate(5%, -30%);
    font-size: 400%;
    
}

#first {
    transform: translate(2%, -1000%);
    /* padding: 15px */

}

#clapper {
    width: 160px;
    height:auto;
    flex-direction: row;
    text-align:left;
    padding: 20px;
    border-radius: 30%;
    align-items: left;
    justify-content: left;
    /* transform: translate(); */

}

#color-shot {
    width: 160px;
    height:auto;
    flex-direction: row;
    text-align:right;
    padding: 20px;
    border-radius: 30%;
    align-items: right;
    justify-content: right;
}

#silhouette-shot {
    width: 160px;
    height:auto;
    flex-direction: row;
    text-align:right;
    padding: 20px;
    border-radius: 30%;
    align-items: right;
    justify-content: right;
}

#smaller-images {
    transform: translate(0, -700px)
}

#learnbtn {
    background-color: aqua;
    color: black;
    font-size: 18px;
    padding: 15px 32px;
    border-radius: 15px;
    font-weight: bolder;
    transform: translate(20px, -700px);
}

#enjoywork {
    transform: translate(950px, -600px);
}

#box {
    color: white;
    width: 300px;
    height: 300px;
    border-radius: 10%;
    transform: translate(100px, -700px);
}

#second {
    transform: translate(790px, -720px);
}

#social {
    transform: translate(950px, -725px);
}

#youtube {
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    display: grid;
    /* place-items: center; */
    transform: translate(2550%, -125%);
    background-color:red;
    color:white
}

#twitter {
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    display: grid;
    /* place-items: center; */
    transform: translate(2550%, -125%);
    background-color: blue; 
    color:white
}

#tiktok {    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    border: none;
    font-size: medium;
    display: grid;
    /* place-items: center; */
    transform: translate(2550%, -125%);
    background-color:blueviolet;
    color:white
}